body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header {
    height:80vh;
}

.vertical-align {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.btn-fixed-width {
    width: 250px;
}

.skills-collection {
	list-style-type: none;
	padding: 0px;
}

.skill-item {
	display: block;
	float: left;
	vertical-align: middle;
	background-color: #008cba;
    color: white;
	border: 1px solid #006687;
	margin-right: 5px;
	margin-bottom: 15px;
	padding: 4px;
    border-radius: 2px;
	transition: background-color 0.2s;
}
	.skill-item:hover {
		background-color: #006687;
		border: 1px solid #006687;
        color:white;
        text-decoration: none;
	}

tr:nth-child(even) {
    background-color: #E6F4F8;
}

.extra-margin-bottom {
    margin-bottom: 15px;
}

.thumbnail {
    border: 0px;
}

.max-size-thumbnail {
    max-height: 150px;
    max-width: 150px;
}