
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="row">
    <div class="col-lg-12">
        <p>GetWiki is a simple application with the following functionality:</p>

        <ul>
            <li>Fetch ten random articles from Wikipedia.</li>
            <li>Save the articles in a database.</li>
            <li>Present the articles to the user.</li>
            <li>Articles can be clicked so that it's content is displayed.</li>
            <li>Article content is NOT saved in the database (It can be updated on Wikipedia).</li>
            <li>Displaying contents of an article is done with jQuery & getJSON (We have an ID to the article in the database!).</li>
            <li>Articles can be managed and sortet into categories.</li>
            <li>Categories are created and controlled by the user. Stored in database.</li>
            <li>"Clear database" button to clear database from ALL content.</li>
            <li>All database communication is done with stored procedures. (Mapped EF to use stored procedures)</li>
        </ul>
    </div>
</div>
